.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 116px;
  height: 50px;
  gap: 8px;
  background: var(--background);
  border: 1px solid var(--theme-yellow);
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.back-btn span {
  color: var(--text-menu-nav);
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
}

/* hover */
.back-btn:hover {
  background: rgba(242, 199, 68, 0.08);
}

/* icon */
.back-btn svg {
  width: var(--w-icon-dropdown);
  height: var(--h-icon-dropdown);
  flex-shrink: 0;
}