@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* color */
  --yellow: #FFD54F;
  /* text&icons color */
  --blue: #4A90E2;
  --green: #64D301;

  --text-primary: #111827;
  --text-secondary: #1f2937;
  --border-soft: rgba(17, 24, 39, 0.08);
  --shadow-soft: 0 4px 14px rgba(0, 0, 0, 0.08);
  --radius-full: 25px;
  --radius-lg: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 1080px;
  font-family: var(--font-inter), var(--font-thai), sans-serif;
}